<div class="individual-content grid gap-x-3	grid-cols-12">
  <div class="hero-card bg-white rounded col-span-12 px-5 py-4">
    <div class="flex text-base text-gray-400 mb-2 gap-1">
      <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-coins"><path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17"/><path d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"/><path d="m2 16 6 6"/><circle cx="16" cy="9" r="2.9"/><circle cx="6" cy="5" r="3"/></svg>
      <p>
        Consolidado:
      </p>
    </div>
    <h1 class="font-black text-3xl text-gray-700">
      <%= @family_group.name %>
    </h1>
  </div>

  <section class="col-span-12 mt-5">
    <%= form_with url: finances_consolidated_path(@family_group), method: :get, local: true, class: "mb-4", data: { turbo_frame: "transactions" } do |form| %>
      <div class="form-row flex gap-2">
        <div class="col-md-3">
          <%= 
            select_tag :year, 
            options_for_select((Date.today.year - 5..Date.today.year).to_a.reverse, params[:year] || Date.today.year), 
            class: "form-control",
            onchange: "this.form.submit()"
          %>
        </div>
      </div>
    <% end %>
  </section>

  <section class="col-span-12 mt-6">
    <canvas id="consolidatedChart" width="400" height="100"></canvas>
    <script type="application/json" id="chart-data">
      <%= @chart_data.to_json.html_safe %>
    </script>
  </section>

  <pre>
  <code class="language-json">
    <%= @chart_data.to_json %>
  </code>
  </pre>

  <section class="col-span-12">
    <div class="flex flex-col mt-6 w-full">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden border border-gray-200 md:rounded-lg">
            <%= turbo_frame_tag "consolidated_data" do %>
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">
                      Categoria
                    </th>
                    <% (1..12).each do |month| %>
                      <th scope="col" class="px-4 py-3.5 text-sm font-black text-left rtl:text-right text-gray-500">
                        <%= Date::ABBR_MONTHNAMES[month] %>
                      </th>
                    <% end %>
                    <th scope="col" class="px-4 py-3.5 text-sm font-black text-left rtl:text-right text-gray-500">
                      Total
                    </th>
                    <th scope="col" class="px-4 py-3.5 text-sm font-black text-left rtl:text-right text-gray-500">
                      % RL
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <% @consolidated_data.each do |category_type, categories| %>
                    <!-- Agrupamento por Tipo de Categoria -->
                    <tr>
                      <td class="px-2 py-2 text-sm font-bold whitespace-nowrap bg-gray-100" colspan="15">
                        <%= category_type %>
                      </td>
                    </tr>

                    <% categories.each do |category_name, monthly_values| %>
                      <!-- Detalhes de cada Categoria -->
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm text-gray-600 font-bold">
                            <%= category_name %>
                          </p>
                        </td>
                        <% (1..12).each do |month| %>
                          <td class="px-4 py-2 text-sm font-medium whitespace-nowrap">
                            <p class="text-sm font-normal text-gray-600 cursor-pointer">
                              <%= monthly_values[month] ? number_to_currency(monthly_values[month]) : "-" %>
                            </p>
                          </td>
                        <% end %>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-bold text-gray-600 cursor-pointer">
                            <%= number_to_currency(monthly_values[:total]) %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-bold text-gray-600 cursor-pointer">
                            <%= number_to_percentage(monthly_values[:percentage], precision: 2) %>
                          </p>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr class="bg-gray-500 text-white font-bold">
                    <th class="px-4 py-2 text-sm whitespace-nowrap text-left">
                      Total Geral
                    </th>
                    <% (1..12).each do |month| %>
                      <th class="px-4 py-2 text-sm whitespace-nowrap text-left">
                        <%= number_to_currency(
                          @consolidated_data.sum do |category_type, categories|
                            categories.sum do |category_name, values|
                              # Verificar se o tipo de categoria é Receita, se sim, soma, se não, subtrai
                              if category_type == "Receitas"
                                values[month].to_f
                              else
                                -values[month].to_f # Subtrai para Investimentos, Gastos Fixos, e Gastos Variáveis
                              end
                            end
                          end
                        ) %>
                      </th>
                    <% end %>
                    <th class="px-4 py-2 text-sm whitespace-nowrap text-left">
                      <%= number_to_currency(
                        @consolidated_data.sum do |category_type, categories|
                          categories.sum do |category_name, values|
                            # Verificar se o tipo de categoria é Receita, se sim, soma, se não, subtrai
                            if category_type == "Receitas"
                              values[:total].to_f
                            else
                              -values[:total].to_f # Subtrai para Investimentos, Gastos Fixos, e Gastos Variáveis
                            end
                          end
                        end
                      ) %>
                    </th>
                    <th class="px-4 py-2 text-sm whitespace-nowrap text-left">
                      <%= number_to_percentage(
                        @consolidated_data.sum do |category_type, categories|
                          categories.sum do |category_name, values|
                            # Verificar se o tipo de categoria é Receita, se sim, soma, se não, subtrai
                            if category_type == "Receitas"
                              values[:percentage].to_f
                            else
                              -values[:percentage].to_f # Subtrai para Investimentos, Gastos Fixos, e Gastos Variáveis
                            end
                          end
                        end / 12, precision: 2
                      ) %>
                    </th>
                  </tr>
                </tfoot>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>