<div id="<%= dom_id budget %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= budget.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Month:</strong>
    <%= budget.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subscription:</strong>
    <%= budget.subscription %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number of installments:</strong>
    <%= budget.number_of_installments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current installment:</strong>
    <%= budget.current_installment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank account:</strong>
    <%= budget.bank_account_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction category:</strong>
    <%= budget.transaction_category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Family group:</strong>
    <%= budget.family_group_id %>
  </p>

</div>
