<%= turbo_frame_tag "modal-frame" do %>
  <div class="modal z-50">
    <div class="modal-content">
      <%= form_with model: @family_group, url: family_groups_path, local: false do |form| %>
        <div class="mb-4">
          <%= form.label :name, "Nome do Grupo" %>
          <%= form.text_field :name, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
        </div>
        <div class="form-group">
          <%= form.submit "Criar Grupo", class: "w-full bg-blue-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>