<h1>Editar Orçamento: <%= @budget.name %></h1>

<%= form_with url: finances_family_group_budget_path(@family_group), method: :patch do |form| %>
  <% @budgets.each do |budget| %>
    <div class="form-group">
      <%= form.fields_for "budgets[]", budget do |budget_form| %>
        <div>
          <%= budget_form.label :value, "#{budget.transaction_category.name} (#{budget.month})" %>
          <%= budget_form.number_field :value, value: budget.value, step: "0.01", min: "0" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= form.submit "Atualizar Orçamentos" %>
<% end %>
