<h1>Editar Orçamento do Mês: <%= @month %> - <%= @family_group.name %></h1>

<%= form_with(url: finances_budgets_path(@family_group, month: @month), method: :patch) do %>
  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <% @grouped_budgets.each do |category_type, budgets| %>
        <tr>
          <th colspan="2" class="category-type-header"><%= category_type.name %></th>
        </tr>
        
        <% budgets.each_with_index do |budget, index| %>
          <tr>
            <td>
              <%= budget.transaction_category.name %>
              <%= hidden_field_tag "budgets[#{index}][id]", budget.id %>
            </td>
            <td>
              <%= number_field_tag "budgets[#{index}][value]", budget.value, min: 0, step: 0.01, class: "form-control" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= submit_tag "Salvar Orçamentos", class: "btn btn-primary" %>
    <%= link_to "Cancelar", finances_budgets_path(@family_group), class: "btn btn-secondary" %>
  </div>
<% end %>
