<h1>Criar Orçamento</h1>

<%= form_with url: create_finances_budget_path(@family_group), method: :post do |form| %>
  <div>
    <label for="month">Mês</label>
    <%#= date_field_tag :month, @month, class: "form-control" %>
    <%= month_field_tag :month, @month, class: "form-control", min: Date.today.strftime("%Y-%m") %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.each_with_index do |budget, index| %>
        <tr>
          <td>
            <%= budget.transaction_category.name %>
            <%= hidden_field_tag "budgets[#{index}][transaction_category_id]", budget.transaction_category.id %>
          </td>
          <td>
            <%= number_field_tag "budgets[#{index}][value]", budget.value, min: 0, step: 0.01, class: "form-control" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= submit_tag "Criar Orçamentos", class: "btn btn-primary" %>
    <%= link_to "Cancelar", finances_budget_path(@family_group), class: "btn btn-secondary" %>
  </div>
<% end %>