<div id="<%= dom_id transaction %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= transaction.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Month:</strong>
    <%= transaction.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subscription:</strong>
    <%= transaction.subscription %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number of installments:</strong>
    <%= transaction.number_of_installments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current installment:</strong>
    <%= transaction.current_installment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank account:</strong>
    <%= transaction.bank_account_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction category:</strong>
    <%= transaction.transaction_category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Family group:</strong>
    <%= transaction.family_group_id %>
  </p>

</div>
