<%= content_tag :h2, 
  class: [
    "text-3xl font-black mb-5 text-gray-500",
  ] do %>  
    <% if @category_type === "Receitas"  %>
      <%= @transaction.new_record? ? "🤑 Nova" : "Editar" %>
      Receita
    <% elsif @category_type === "Investimentos" %>
      <%= @transaction.new_record? ? "🏦 Novo" : "Editar" %>
      Investimento
    <% elsif @category_type === "Gastos Fixos" %>
      <%= @transaction.new_record? ? "🧾 Novo" : "Editar" %>
      Gasto Fixo
    <% else %>
      <%= @transaction.new_record? ? "💳 Novo" : "Editar" %>
      Gasto Variável
    <% end %>
<% end %>

<%= form_with model: [@family_group, @transaction], url: @transaction.new_record? ? create_finances_transaction_path(@family_group) : update_finances_transaction_path(@family_group, @transaction), local: false do |form| %>
  <div class="mb-4">
    <%= form.label :value %>
    <%= 
      form.text_field :value,
      placeholder: "Ex: 800.00",
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
    %>
  </div>

  <div class="mb-4">
    <%= form.label :name %>
    <%= 
      form.text_field :name,
      placeholder: "Ex: Compras no Supermercado",
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
    %>
  </div>

  <div class="mb-4">
    <%= form.label :month %>
    <%= 
      form.month_field :month,
      value: @month,
      placeholder: "Ex: Janerio 2021",
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
    %>
  </div>

  <div class="mb-4">
    <%= form.label :subscription %>
    <%= 
      form.select :subscription,
      options_for_select([["Não", false], ["Sim", true]]),
      { prompt: "Selecione uma opção" },
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
    %>
  </div>

  <div class="mb-4">
    <%= form.label :number_of_installments %>
    <%= 
      form.number_field :number_of_installments,
      placeholder: "Ex: 0 para compra única",
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
    %>
  </div>

  <div class="mb-4">
    <%= form.label :current_installment %>
    <%= 
      form.number_field :current_installment,
      placeholder: "Ex: 0",
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
    %>
  </div>

  <div class="mb-4">
    <%= form.label :bank_account_id %>
    <%= 
      form.collection_select :bank_account_id, @bank_accounts || [], :id, :name,
      { prompt: "Selecione uma conta bancária" },
      { class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" }
    %>
  </div>

  <div class="mb-4">
    <%= form.label :transaction_category_id %>
    <%= 
      form.collection_select :transaction_category_id, @transaction_categories, :id, :name,
      { prompt: "Selecione uma categoria" },
      class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
    %>
  </div>

  <%#= form.hidden_field :transaction_type, value: @category_type %>

  <div class="form-group">
    <%= form.submit @transaction.new_record? ? "Criar Transação" : "Atualizar Transação", class: "w-full bg-blue-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2" %>
  </div>
<% end %>

