<h1 class="font-black text-3xl text-blue-600">Transações de <%= @family_group.name %></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <td><%= transaction.transaction_category.name %></td>
        <td><%= number_to_currency(transaction.value) %></td>
        <td>
          <%#= link_to "Editar", edit_finances_family_group_transaction_path(@family_group, transaction) %>
          <%#= link_to "Excluir", finances_family_group_transaction_path(@family_group, transaction), method: :delete, data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions flex gap-2 mt-3">
<%= 
  link_to "Nova Receita", 
  new_by_category_type_path(@family_group, "revenue"),
  data: { turbo_frame: "modal" }, 
  class: "btn bg-green-500 hover:bg-green-600 px-3 py-2 text-white rounded" 
%>
<%= 
  link_to "Novo Investimento", 
  new_by_category_type_path(@family_group, "investment"), 
  data: { turbo_frame: "modal" }, 
  class: "btn bg-blue-500 hover:bg-blue-600 px-3 py-2 text-white rounded"
%>
<%= 
  link_to "Nova Despesa Fixa", 
  new_by_category_type_path(@family_group, "fixed-expenses"), 
  data: { turbo_frame: "modal" }, 
  class: "btn bg-red-500 hover:bg-red-600 px-3 py-2 text-white rounded"
%>
<%= 
  link_to "Nova Despesa Variável",
  new_by_category_type_path(@family_group, "variable-expenses"),
  data: { turbo_frame: "modal" },
  class: "btn bg-yellow-500 hover:bg-yellow-600 px-3 py-2 text-white rounded"
%>
</div>