<div class="individual-content grid gap-x-3	grid-cols-12">
  <div class="hero-card bg-white rounded col-span-12 px-5 py-4 flex items-center">
    <div class="principal-content flex-1">
      <div class="flex text-base text-gray-400 mb-2 gap-1">
        <svg class="w-5 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-right"><path d="M8 3 4 7l4 4"/><path d="M4 7h16"/><path d="m16 21 4-4-4-4"/><path d="M20 17H4"/></svg>
        <p>
          Transações:
        </p>
      </div>
      <h1 class="font-black text-3xl text-gray-700">
        <%= @family_group.name %>
      </h1>
    </div>

    <div class="filter">
      <%= form_with(url: finances_transactions_path(@family_group), method: :get, local: true, data: { turbo_frame: "transactions" }) do |form| %>
        <div class="form-row flex gap-2">
          <div class="col-md-3">
            <%= 
              month_field_tag :month, 
              params[:month], 
              class: "form-control", 
              placeholder: "Selecione o mês", 
              min: "2020-01", 
              max: "2029-12", 
              onchange: "this.form.submit()"
            %>
          </div>
          <div class="col-md-3">
            <%= 
              select_tag :category_type, 
              options_for_select(@category_types.pluck(:name), 
              params[:category_type]), 
              include_blank: "Todas as Categorias", 
              class: "form-control",
              onchange: "this.form.submit()"
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <section class="col-span-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-6 mt-6 text-gray-500">
    <% @totals_by_category_type.each do |category_type, total| %>
      <%= link_to new_by_category_type_path(@family_group, new_url(category_type)), data: { turbo_frame: "modal-frame" } do %>
        <div class="relative group overflow-hidden p-8 rounded-xl bg-white border border-gray-200 2border-gray-800 2bg-gray-900 cursor-pointer">
          <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b <%= 'from-green-500' if category_type == "Receitas" %> <%= 'from-blue-500' if category_type == "Investimentos" %> <%= 'from-red-500' if category_type == "Gastos Fixos" %> <%= 'from-yellow-500' if category_type == "Gastos Variáveis" %> to-white 2from-white 2to-white blur-2xl opacity-25 2opacity-5 2group-hover:opacity-10"></div>
          <div class="relative">
            <div class="flex gap-x-2 items-center">
              <div class="border border-green-500/10 flex relative *:relative *:m-auto size-12 rounded-lg 2bg-gray-900 2border-white/15 before:rounded-[7px] before:absolute before:inset-0 before:border-t before:border-white <%= 'before:from-green-100' if category_type == "Receitas" %> <%= 'before:from-blue-100' if category_type == "Investimentos" %> <%= 'before:from-red-100' if category_type == "Gastos Fixos" %> <%= 'before:from-yellow-100' if category_type == "Gastos Variáveis" %> 2before:border-white/20 before:bg-gradient-to-b 2before:from-white/10 2before:to-transparent before:shadow 2before:shadow-gray-950">
                <p class="opacity-100">
                  <% if category_type === "Receitas"  %>
                    🤑
                  <% elsif category_type === "Investimentos" %>
                    🏦
                  <% elsif category_type === "Gastos Fixos" %>
                    🧾
                  <% else %>
                    💳
                  <% end %>
                </p>
              </div>
              <h2 class="text-xl font-bold">
                <%= category_type %>
              </h2>
            </div>

            <div class="mt-2 pb-3 rounded-b-[--card-border-radius] flex flex-col gap-3">
              <p class="text-4xl font-black <%= 'text-green-400' if category_type == "Receitas" %> <%= 'text-red-400' if category_type != "Receitas" %>">
                <%= number_to_currency(total, locale: 'pt-BR') %>
              </p>

              <p class="text-gray-700 2text-gray-300 text-xs">
                <% if category_type === "Receitas"  %>
                  Receita é o total de ganhos financeiros obtidos em um período específico.
                <% elsif category_type === "Investimentos" %>
                  Investimento é a aplicação de recursos visando gerar retorno financeiro futuro.
                <% elsif category_type === "Gastos Fixos" %>
                  Gasto fixo é uma despesa recorrente com valor estável, como aluguel ou plano.
                <% else %>
                  Gasto variável é uma despesa que muda mensalmente, como lazer ou alimentação.
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>

  <section class="col-span-12">
    <div class="flex flex-col mt-0 w-full">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden border border-gray-200 md:rounded-lg">
            <%= turbo_frame_tag "transactions" do %>
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Descrição</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Tipo</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Categoria</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Parcelado</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Parcela</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Valor</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <% if @transactions.any? %>
                    <% @transactions.each do |transaction| %>
                      <tr>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm text-gray-600 font-bold">
                            <%= transaction.name %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <%= content_tag :p, 
                            class: [
                              "text-sm font-normal cursor-pointer text-white rounded inline-block px-2 py-1", 
                              transaction.transaction_category.category_type.name === "Receitas" ? "bg-green-400" : "",
                              transaction.transaction_category.category_type.name === "Investimentos" ? "bg-blue-400" : "",
                              transaction.transaction_category.category_type.name === "Gastos Fixos" ? "bg-red-400" : "",
                              transaction.transaction_category.category_type.name === "Gastos Variáveis" ? "bg-yellow-400" : ""
                            ] do %>
                              <% if transaction.transaction_category.category_type.name === "Receitas"  %>
                                🤑
                              <% elsif transaction.transaction_category.category_type.name === "Investimentos" %>
                                🏦
                              <% elsif transaction.transaction_category.category_type.name === "Gastos Fixos" %>
                                🧾
                              <% else %>
                                💳
                              <% end %>
                              <%= transaction.transaction_category.category_type.name %>
                          <% end %>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-normal text-gray-600 cursor-pointer">
                            <%= transaction.transaction_category.name %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-normal text-gray-600 cursor-pointer">
                            <%= transaction.subscription ? "Sim" : "Não" %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-normal text-gray-600 cursor-pointer">
                            <% if transaction.number_of_installments > 0 %>
                              <%= transaction.current_installment %> de <%= transaction.number_of_installments %>
                            <% else %>
                              -  
                            <% end %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <%= content_tag :p, 
                            class: [
                              "text-sm font-bold cursor-pointer", 
                              transaction.transaction_category.category_type.name === "Receitas" ? "text-green-500" : "",
                              transaction.transaction_category.category_type.name === "Investimentos" ? "text-red-500" : "",
                              transaction.transaction_category.category_type.name === "Gastos Fixos" ? "text-red-500" : "",
                              transaction.transaction_category.category_type.name === "Gastos Variáveis" ? "text-red-500" : ""
                            ] do %>
                              
                              <% if transaction.transaction_category.category_type.name === "Receitas" %>
                                +
                              <% else %>
                                -
                              <% end %>
                              <%= number_to_currency(transaction.value, locale: 'pt-BR') %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan="5" class="px-4 py-10 text-sm font-bold text-center text-gray-600">
                        Nenhuma transação encontrada para o período selecionado.
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>