<!--<div id="modal" class="modal fixed inset-0 z-10 overflow-hidden backdrop-blur-sm flex items-center justify-center transition-transform duration-300">
  <div id="modal-content" class="p-6 backdrop-blur-sm bg-red-500/90 w-11/12 sm:w-11/12 md:w-8/12 lg:w-6/12 rounded-md shadow-sm">
    <h2 class="text-2xl font-black mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magni dignissimos eius quisquam commodi totam ipsa quam non, modi ad. Perspiciatis alias unde modi repellat error laudantium aut delectus sed?</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magni dignissimos eius quisquam commodi totam ipsa quam non, modi ad. Perspiciatis alias unde modi repellat error laudantium aut delectus sed?</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magni dignissimos eius quisquam commodi totam ipsa quam non, modi ad. Perspiciatis alias unde modi repellat error laudantium aut delectus sed?</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magni dignissimos eius quisquam commodi totam ipsa quam non, modi ad. Perspiciatis alias unde modi repellat error laudantium aut delectus sed?</p><br>
  </div>
</div>-->

<div class="individual-content grid gap-x-3	grid-cols-12">
  <div class="hero-card bg-white rounded col-span-12 px-5 py-4 flex items-center">
    <div class="principal-content flex-1">
      <div class="flex text-base text-gray-400 mb-2 gap-1">
        <svg class="w-5 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-right"><path d="M8 3 4 7l4 4"/><path d="M4 7h16"/><path d="m16 21 4-4-4-4"/><path d="M20 17H4"/></svg>
        <p>
          Transações:
        </p>
      </div>
      <h1 class="font-black text-3xl text-gray-700">
        <%= @family_group.name %>
      </h1>
    </div>

    <div class="filter">
      <%= form_with(url: finances_transactions_path(@family_group), method: :get, local: true, data: { turbo_frame: "transactions" }) do |form| %>
        <div class="form-row flex gap-2">
          <div class="col-md-3">
            <%= 
              month_field_tag :month, 
              params[:month], 
              class: "form-control", 
              placeholder: "Selecione o mês", 
              min: "2020-01", 
              max: "2029-12", 
              onchange: "this.form.submit()"
            %>
          </div>
          <div class="col-md-3">
            <%= 
              select_tag :category_type, 
              options_for_select(@category_types.pluck(:name), 
              params[:category_type]), 
              include_blank: "Todas as Categorias", 
              class: "form-control",
              onchange: "this.form.submit()"
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "transactions", class: "col-span-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-6 mt-10" do %>
    <% @totals_by_category_type.each do |category_type, total| %>
      <div class="bg-white shadow rounded-lg p-4">
        <h3 class="text-xl font-semibold text-gray-700"><%= category_type %></h3>
        <p class="text-2xl font-bold text-green-500">
          <%= number_to_currency(total, unit: "R$") %>
        </p>
      </div>
    <% end %>
  <% end %>

  <section class="col-span-12 mt-5 mb-10">
    <div class="mx-auto text-gray-500">
      <div class="grid grid-cols-12 sm:grid-cols-2 lg:grid-cols-4 gap-3">
        <!--Receitas-->
        <%= link_to new_by_category_type_path(@family_group, "revenue"), data: { turbo_frame: "modal" } do %>
          <div class="relative group overflow-hidden p-8 rounded-xl bg-white border border-gray-200 2border-gray-800 2bg-gray-900 cursor-pointer">
            <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-green-500 to-white 2from-white 2to-white blur-2xl opacity-25 2opacity-5 2group-hover:opacity-10"></div>
            <div class="relative">
              <div class="flex gap-x-2 items-center">
                <div class="border border-green-500/10 flex relative *:relative *:size-6 *:m-auto size-12 rounded-lg 2bg-gray-900 2border-white/15 before:rounded-[7px] before:absolute before:inset-0 before:border-t before:border-white before:from-green-100 2before:border-white/20 before:bg-gradient-to-b 2before:from-white/10 2before:to-transparent before:shadow 2before:shadow-gray-950">
                  <p class="opacity-100">
                    🤑
                  </p>
                </div>
                <h2 class="text-xl font-bold">Receitas</h2>
              </div>

              <div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
                <p class="text-gray-700 2text-gray-300 text-sm">Receita é o total de ganhos financeiros obtidos em um período específico.</p>
              </div>

              <div class="flex gap-3 -mb-8 py-4 border-t border-gray-200 2border-gray-800">
                <p class="group rounded-xl disabled:border *:select-none [&>*:not(.sr-only)]:relative *:disabled:opacity-20 disabled:text-gray-950 disabled:border-gray-200 disabled:bg-gray-100 2disabled:border-gray-800/50 disabled:2bg-gray-900 2*:disabled:!text-white text-gray-950 bg-gray-100 hover:bg-gray-200/75 active:bg-gray-100 2text-white 2bg-gray-500/10 2hover:bg-gray-500/15 2active:bg-gray-500/10 flex gap-1.5 items-center text-sm h-8 px-3.5 justify-center">
                  <span>Nova Receita</span>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <!--Investimentos-->
        <%= link_to new_by_category_type_path(@family_group, "investment"), data: { turbo_frame: "modal" } do %>
          <div class="relative group overflow-hidden p-8 rounded-xl bg-white border border-gray-200 2border-gray-800 2bg-gray-900 cursor-pointer">
            <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white 2from-white 2to-white blur-2xl opacity-25 2opacity-5 2group-hover:opacity-10"></div>
            <div class="relative">
              <div class="flex gap-x-2 items-center">
                <div class="border border-blue-500/10 flex relative *:relative *:size-6 *:m-auto size-12 rounded-lg 2bg-gray-900 2border-white/15 before:rounded-[7px] before:absolute before:inset-0 before:border-t before:border-white before:from-blue-100 2before:border-white/20 before:bg-gradient-to-b 2before:from-white/10 2before:to-transparent before:shadow 2before:shadow-gray-950">
                  <p class="opacity-100">
                    🏦
                  </p>
                </div>
                <h2 class="text-xl font-bold">Investimentos</h2>
              </div>

              <div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
                <p class="text-gray-700 2text-gray-300 text-sm">Investimento é a aplicação de recursos visando gerar retorno financeiro futuro.</p>
              </div>

              <div class="flex gap-3 -mb-8 py-4 border-t border-gray-200 2border-gray-800">
                <p class="group rounded-xl disabled:border *:select-none [&>*:not(.sr-only)]:relative *:disabled:opacity-20 disabled:text-gray-950 disabled:border-gray-200 disabled:bg-gray-100 2disabled:border-gray-800/50 disabled:2bg-gray-900 2*:disabled:!text-white text-gray-950 bg-gray-100 hover:bg-gray-200/75 active:bg-gray-100 2text-white 2bg-gray-500/10 2hover:bg-gray-500/15 2active:bg-gray-500/10 flex gap-1.5 items-center text-sm h-8 px-3.5 justify-center">
                  <span>Novo Investimento</span>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <!--Gastos Fixos-->
        <%= link_to new_by_category_type_path(@family_group, "fixed-expenses"), data: { turbo_frame: "modal" } do %>
          <div class="relative group overflow-hidden p-8 rounded-xl bg-white border border-gray-200 2border-gray-800 2bg-gray-900 cursor-pointer">
            <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-red-500 to-white 2from-white 2to-white blur-2xl opacity-25 2opacity-5 2group-hover:opacity-10"></div>
            <div class="relative">
              <div class="flex gap-x-2 items-center">
                <div class="border border-red-500/10 flex relative *:relative *:size-6 *:m-auto size-12 rounded-lg 2bg-gray-900 2border-white/15 before:rounded-[7px] before:absolute before:inset-0 before:border-t before:border-white before:from-red-100 2before:border-white/20 before:bg-gradient-to-b 2before:from-white/10 2before:to-transparent before:shadow 2before:shadow-gray-950">
                  <p class="opacity-100">
                    🧾
                  </p>
                </div>
                <h2 class="text-xl font-bold">Gastos Fixos</h2>
              </div>
              <div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
                <p class="text-gray-700 2text-gray-300 text-sm">Gasto fixo é uma despesa recorrente com valor estável, como aluguel ou plano.</p>
              </div>
              <div class="flex gap-3 -mb-8 py-4 border-t border-gray-200 2border-gray-800">
                <p class="group rounded-xl disabled:border *:select-none [&>*:not(.sr-only)]:relative *:disabled:opacity-20 disabled:text-gray-950 disabled:border-gray-200 disabled:bg-gray-100 2disabled:border-gray-800/50 disabled:2bg-gray-900 2*:disabled:!text-white text-gray-950 bg-gray-100 hover:bg-gray-200/75 active:bg-gray-100 2text-white 2bg-gray-500/10 2hover:bg-gray-500/15 2active:bg-gray-500/10 flex gap-1.5 items-center text-sm h-8 px-3.5 justify-center">
                    <span>Novo Gasto Fixo</span>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <!--Gastos Variáveis-->
        <%= link_to new_by_category_type_path(@family_group, "variable-expenses"), data: { turbo_frame: "modal" } do %>
          <div class="relative group overflow-hidden p-8 rounded-xl bg-white border border-gray-200 2border-gray-800 2bg-gray-900 cursor-pointer">
            <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-gray-500 to-white 2from-white 2to-white blur-2xl opacity-25 2opacity-5 2group-hover:opacity-10"></div>
            <div class="relative">
              <div class="flex gap-x-2 items-center">
                <div class="border border-gray-500/10 flex relative *:relative *:size-6 *:m-auto  text-gray-950 2text-white size-12 rounded-lg 2bg-gray-900 2border-white/15 before:rounded-[7px] before:absolute before:inset-0 before:border-t before:border-white before:from-gray-100 2before:border-white/20 before:bg-gradient-to-b 2before:from-white/10 2before:to-transparent before:shadow 2before:shadow-gray-950">
                  <p class="opacity-100">
                    💳
                  </p>
                </div>
                <h2 class="text-xl font-bold">Gastos Variáveis</h2>
              </div>
              <div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
                <p class="text-gray-700 2text-gray-300 text-sm">Gasto variável é uma despesa que muda mensalmente, como lazer ou alimentação.</p>
              </div>
              <div class="flex gap-3 -mb-8 py-4 border-t border-gray-200 2border-gray-800">
                <p class="group rounded-xl disabled:border *:select-none [&>*:not(.sr-only)]:relative *:disabled:opacity-20 disabled:text-gray-950 disabled:border-gray-200 disabled:bg-gray-100 2disabled:border-gray-800/50 disabled:2bg-gray-900 2*:disabled:!text-white text-gray-950 bg-gray-100 hover:bg-gray-200/75 active:bg-gray-100 2text-white 2bg-gray-500/10 2hover:bg-gray-500/15 2active:bg-gray-500/10 flex gap-1.5 items-center text-sm h-8 px-3.5 justify-center">
                  <span>Novo Gasto Variável</span>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="col-span-12">
    <div class="flex flex-col mt-0 w-full">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden border border-gray-200 md:rounded-lg">
            <%= turbo_frame_tag "transactions" do %>
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Descrição</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Tipo</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Categoria</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Valor</th>
                    <th scope="col" class="px-4 py-3.5  text-sm font-black text-left rtl:text-right text-gray-500">Data</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <% if @transactions.any? %>
                    <% @transactions.each do |transaction| %>
                      <tr>
                        <td class="px-2 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm text-gray-600 font-bold">
                            <%= transaction.name %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <%= content_tag :p, 
                            class: [
                              "text-sm font-normal cursor-pointer text-white rounded inline-block px-2 py-1", 
                              transaction.transaction_category.category_type.name === "Receitas" ? "bg-green-500" : "",
                              transaction.transaction_category.category_type.name === "Investimentos" ? "bg-blue-500" : "",
                              transaction.transaction_category.category_type.name === "Gastos Fixos" ? "bg-red-500" : "",
                              transaction.transaction_category.category_type.name === "Gastos Variáveis" ? "bg-yellow-500" : ""
                            ] do %>
                              <%= transaction.transaction_category.category_type.name %>
                          <% end %>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-normal text-gray-600 cursor-pointer">
                            <%= transaction.transaction_category.name %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-normal text-gray-600 cursor-pointer">
                            <%= number_to_currency(transaction.value) %>
                          </p>
                        </td>
                        <td class="px-4 py-2 text-sm font-bold whitespace-nowrap">
                          <p class="text-sm font-normal text-gray-600 cursor-pointer">
                            <%= transaction.month %>
                          </p>
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan="5" class="px-4 py-10 text-sm font-bold text-center text-gray-600">
                        Nenhuma transação encontrada para o período selecionado.
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>