<%= turbo_frame_tag "modal" do %>
  <%= content_tag :h2, 
    class: [
      "text-3xl font-black mb-5", 
      @category_type === "Receitas" ? "text-green-500" : "",
      @category_type === "Investimentos" ? "text-blue-500" : "",
      @category_type === "Gastos Fixos" ? "text-red-500" : "",
      @category_type === "Gastos Variáveis" ? "text-yellow-500" : ""
    ] do %>
    Nova Transação: <%= @category_type %>
  <% end %>

  <%= form_with model: [@family_group, @transaction], url: new_by_category_type_path(@family_group), local: true do |form| %>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :amount %>
      <%= form.number_field :amount, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :transaction_category_id, "Categoria" %>
      <%= form.collection_select :transaction_category_id, @transaction_categories, :id, :name, { prompt: "Selecione uma categoria" }, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :date %>
      <%= form.date_field :date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit "Criar Transação", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
