<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Finances On Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "vue_app" %>
  </head>

  <body class="bg-slate-200 flex">
    <%= render SidebarComponent.new(current_user: current_user, family_group: @family_group) %>

    <main class="content w-full px-5 py-5">
      <%= yield %>
    </main>
  </body>
</html>
